@{
    ViewData["Title"] = "Conestoga Clinic";
}

<div class="text-center">
    <h1 class="display-4">Conestoga Clinic- For GITHUB Project</h1>
    <img src="~/images/Clinic.jpg" width="750" height="270"><br>
    <h5>Your health is important for us</h5>
    <img src="~/images/Clinic2.jpg" width="250" height="90"><br>
</div>
