@{
    ViewData["Title"] = "Conestoga Clinic";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Conestoga Clinic-GITHUB</h1>
    <img src="~/images/Clinic.jpg" width="750" height="270"><br>
    <h5>Because your health matters!</h5>
</div>
